#CameraData {
	width: auto;
	/*outline: solid;*/
}

.header h2 {
	display: inline-block;
}

#Make {
	font-weight: bolder;
	font-size: 40px;
	margin-top: 11px;
}
#Model {
	font-weight: lighter;
	margin-left: 10px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:11px;
}

.CameraInfo {
	margin-left:10px; 
} 

.Camera {
	background-color: white;
	padding-left: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding-bottom: 10px;
}